$fundo-preto: rgb(214, 247, 162);
$cor-azul: 'light' + blue;
$cor-verde: light + green;
$cor-vermelho: red;
$borda: 2px solid black;
$margem: 10px;
$paddi: 10px;
/* aqui terá que receber um parâmetro */
@mixin fundoP($color){
    background-color: $color;
}

@mixin marg-padd(){
    margin: $margem;
    padding: $paddi;
}

*{
    font-size: 30px;
    @include marg-padd;
    @include fundoP($fundo-preto);
}

body {

    h1{
        color: #{$cor-azul};
        font-size: 40px;
    }

    @include marg-padd;

    background-color: azure;
    border: $borda;

    b{
        color: $cor-vermelho;
    }
    
}


