@import 'base1';

$background: rgb(211, 223, 150);
$cor-azul: blue;
$cor-vermelho: red;
$borda: 1px solid black;
$margem: 3px;
$paddi: 3px;

@mixin cores($cor-azul){
    color: $cor-azul;
}

@mixin marg-padd(){
    margin: $margem;
    padding: $paddi;
}

html{
    background-color: $background;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
.div0 {
    @include cores;
    @include marg-padd;
    border: $borda;

    b{
        color: $cor-vermelho;
    }
}

