*{
    background-color: rgba(240, 248, 255, 0.833);
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
}

.titulo{
    font-size: 45px;
    text-align: center;
    margin: 0.01rem;
    padding: 0.05rem;
    color: blue;
}

.description{
    margin: 25px;
    padding: 15px;
    border: 2px solid black;
    padding-top: 0.03rem;
}

b{
    color: red;
}

img{
    width: -webkit-fill-available;
    width: 60%;
}